<!DOCTYPE HTML>
<html class="no-js" lang="id">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% if page.title %}{{ page.title | escape | remove: ':clap:' | strip }} - {{site.name | escape }}{% else %}{{ site.name | escape }}{% endif %}</title>
<meta name="description" content="{{ site.name | escape }}" />
<meta name="author" content="{{ site.name | escape }}" />
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ "assets/img/logo/favicon.ico" | prepend: site.baseurl }}" />
<link rel="apple-touch-icon" href="{{ "assets/img/logo/apple-touch-icon.png" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" />
<meta name="theme-color" content="" />
</head>
<body>
<main>
<div class=content>
<h1>Ook Rahmawan</h1>
<h2><s>Pahlawan Super</s> | Bankir | Lagi Suka Jam Tangan</h2>
<p><a href=mailto:mail@ook.web.id class=link-mail>mail@ook.web.id</a><small class=small-caps>V 5</small></p>
</div>
</main>
</body>
</html>
